@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.lighter {
    color: rgba(24, 24, 24, 0.2);
}

.green {
   color: #02B033;
}



.container {
    display: grid;
    grid-template-columns: 850px 290px;
    gap: 40px;
    margin: 40px auto;
    max-width: 1200px;
}

.button-md {
    border: 1px solid #0275B1;
    border-radius: 4px;
    color: #0275B1;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 11px;
    text-align: center;
    width: 170px;
}

.contact-button {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: white;
}

header {
    /* header flex */
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* header font */
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
    line-height: 11.48px;
    
    /* header size */
    height: 80px;
}

header > * {
    /* header items flex */
    display: flex;
    align-items: center;

    /* header items size */
    height: 80px;

    border-right: 1px solid #F4F4F4;
}

header > a {
    padding: 0 40px;
    /* width: 130px;    */
}

header ul{
    display: flex;
    padding: 0 20px;
}

header ul li a {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90px;
    height: 80px;
}

header ul li a img {
    width: 24px;
    height: 24px;
}

header form {
    display: flex;
    align-items: center;
    height: 80px;
    width: 367px;
}

header form input {
    border: none;
    height: 100%;
    padding-left: 70px;
    width: 100%;
}

header form input::placeholder {
    color: #CECECE
}

header form input:focus {
    outline: none;
}

header form img {
    position: absolute;
    margin: 0 25px 0 33px;
}

header > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 330px;
    height: 80px;
    padding: 0 30px;
}

header > div:first-of-type > img {
    width: 42px;
    height: 42px;
}

header > div:first-of-type > div {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

header > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
}

header > div:first-of-type  .lighter {
    margin-left: 10px;
}

header > div:last-of-type {
    cursor: pointer;
}

header > div:last-of-type > img {
    width: 24px;
    height: 24px;
}

/* Footer */

footer {
    background: #F7F9FB;
    bottom: 0;
    display: flex;
    gap: 65px;
    height: 215px;
    padding: 35px 130px 0 130px;
    position: absolute;
    width: 100vw;
}

footer div:first-child p{
    color: #181818;
    font-size: 14px;
    margin-top: 12px;
    line-height: 150%;
    font-weight: bold;
}

footer div:first-child span {
    color: #0275B1;
}

footer div:nth-child(2) span {
    color: #181818;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 11px;
}

footer div:nth-child(2) nav {
    display: flex;
    gap: 100px;
}

footer div:nth-child(2) nav ul{
    color: #181818;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
    line-height: 11px;
    margin-top: 30px;
}

footer div:last-of-type {
    display: flex;
    flex-direction: column;
}

footer div:last-of-type span, footer form label{
    color: #181818;
    font-size: 12px;
    font-weight: bold;
    line-height: 11px;
    margin-bottom: 25px;
}

footer div:last-of-type div button {
    box-sizing: border-box;
    border: 1px solid #0275B1;
    border-radius: 4px;
    color: #0275B1;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 11px;
    padding-left: 15px;
    text-align: left;
    width: 170px;
}

footer div:last-of-type div:first-of-type button:first-of-type {
    background: #0275B1;
    color: white;
    margin-bottom: 10px;
}

footer div:last-of-type div {
    display: flex;
    flex-direction: row;
}

footer div:last-of-type div img {
    cursor: pointer;
    height: 16px;
    margin: 8px 0 8px -30px;
    width: 16px;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form select {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    color: #181818;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 11px;
    padding-left: 15px;
    padding-right: 18px;
    width: 270px;
}

footer form select:focus {
    border: 1px solid #0275B1;
    outline: none;
}

/* Profile */
main {
    /* background-color: #0275B1; */
}

main > * {
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    margin-bottom: 30px;
}

.profile > div:first-child{
    background: url(./images/backgroundProfile.png);
    width: 100%;
    height: 180px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile > div:first-child > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile > div:first-child button {
    height: 36px;
    padding: 12px;
}

.profile > div:nth-child(2) {
    display: flex;
    gap: 24px;
    height: 180px;
    padding: 24px;
    background-color: white;
}

.profile > div:nth-child(2) img{
    height: 170px;
    width: 170px;
    margin-top: -44px;
}

.profile > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.profile > div:nth-child(2) > div > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile > div:nth-child(2) > div > div:first-child > h1::after{
    content: '';
    display: inline-block;
    background: center url(./images/logoGolden.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-left: 8px;
}

.profile > div:nth-child(2) > div > div:first-child > span {
    display: flex;
    align-items: center;
}

.profile > div:nth-child(2) > div > div:first-child > span::before {
    content: '';
    display: inline-block;
    background: center url(./images/location.png);
    /* color: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%); */
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
