@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-grey: #F4F4F4;
    --grey: #E5E5E5;
    --blue: #0275B1;
    --blue-gradient: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-grey);
}

ul{
    list-style: none;
}

a{
    color: #0275B1;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
}

h1 {
    color: #181818;
    font-size: 18px;
    font-weight: bolder;
}

h2 {
    font-size: 14px;
    line-height: 21px;
}

h3 {
    font-size: 12px;
     
}

small {
    font-size: 10px;
    color:#181818;
    line-height: 15px;
}

.lighter {
    color: rgba(24, 24, 24, 0.2);
}

.green {
   color: #02B033;
}

.container {
    display: grid;
    grid-template-columns: 850px 290px;
    gap: 40px;
    margin: 40px auto;
    max-width: 1200px;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 0 16px;
    height: 32px;
    width: 170px;
    border: none;
    border-radius: 4px;
}
 
.btn-blue {
    background: var(--blue-gradient);
    color: white;
}

.btn-white {
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.here{
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
}

header {
    /* header flex */
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* header font */
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
    line-height: 11.48px;
    
    /* header size */
    height: 80px;
}

header > * {
    /* header items flex */
    display: flex;
    align-items: center;

    /* header items size */
    height: 80px;

    border-right: 1px solid var(--light-grey);
}

header > a {
    padding: 0 40px;
}

header ul{
    display: flex;
    padding: 0 20px;
}

header ul li a {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90px;
    height: 80px;
}

header ul li a img {
    width: 24px;
    height: 24px;
}

header form {
    display: flex;
    align-items: center;
    height: 80px;
    width: 367px;
}

header form input {
    border: none;
    height: 100%;
    padding-left: 70px;
    width: 100%;
}

header form input::placeholder {
    color: #CECECE
}

header form input:focus {
    outline: none;
}

header form img {
    position: absolute;
    margin: 0 25px 0 33px;
}

header > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 330px;
    height: 80px;
    padding: 0 30px;
}

header > div:first-of-type > img {
    width: 42px;
    height: 42px;
}

header > div:first-of-type > div {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

header > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
}

header > div:first-of-type  .lighter {
    margin-left: 10px;
}

header > div:last-of-type {
    cursor: pointer;
}

header > div:last-of-type > img {
    width: 24px;
    height: 24px;
}

/* Footer */

footer {
    background: #F7F9FB;
    display: flex;
    gap: 65px;
    height: 215px;
    padding: 35px 130px 0 130px;
    width: 100vw;
}

footer div:first-child p{
    color: #181818;
    font-size: 14px;
    margin-top: 12px;
    line-height: 150%;
    font-weight: bold;
}

footer div:first-child span {
    color: #0275B1;
}

footer div:nth-child(2) span {
    color: #181818;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 11px;
}

footer div:nth-child(2) nav {
    display: flex;
    gap: 100px;
}

footer div:nth-child(2) nav ul{
    color: #181818;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
    line-height: 11px;
    margin-top: 30px;
}

footer div:last-of-type {
    display: flex;
    flex-direction: column;
}

footer div:last-of-type span, footer form label{
    color: #181818;
    font-size: 12px;
    font-weight: bold;
    line-height: 11px;
    margin-bottom: 25px;
}

footer .btn {
    text-align: left;
    font-weight: bold;
}

footer div:last-of-type div:first-of-type button:first-of-type {
    background: #0275B1;
    color: white;
    margin-bottom: 10px;
}

footer div:last-of-type div {
    display: flex;
    flex-direction: row;
}

footer div:last-of-type div img {
    cursor: pointer;
    height: 16px;
    margin: 8px 0 8px -30px;
    width: 16px;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form select {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    color: #181818;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 11px;
    padding-left: 15px;
    padding-right: 18px;
    width: 270px;
}

footer form select:focus {
    border: 1px solid #0275B1;
    outline: none;
}

/* Profile */
main > * {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}


.profile { 
    padding: 0;
}  

.profile > div:first-child{
    background: url(./images/backgroundProfile.png);
    width: 100%;
    height: 180px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile > div:first-child > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile > div:first-child button {
    height: 36px;
    padding: 12px;
}

.profile > div:nth-child(2) {
    display: flex;
    gap: 24px;
    height: 180px;
    padding: 24px;
}

.profile > div:nth-child(2) img{
    height: 170px;
    width: 170px;
    margin-top: -44px;
}

.profile > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.profile > div:nth-child(2) > div > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile > div:nth-child(2) > div > div:first-child > h1::after{
    content: '';
    display: inline-block;
    background: center url(./images/logoGolden.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-left: 8px;
}

.profile > div:nth-child(2) > div > div:first-child > span {
    display: flex;
    align-items: center;
}

.profile > div:nth-child(2) > div > div:first-child > span::before {
    content: '';
    display: inline-block;
    background: center url(./images/location.png);
    /* color: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%); */
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

/* About */

.about > div:first-child > .btn {
    background: white;
    border: 1px solid #E7E7E7;
    color: #181818;
    height: 40px;
    width: 240px;
}

.about > div:first-child > .btn:hover {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: white;
    height: 50px;
}

.about div:last-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 200px;
    width: 100%;
}

/* projects */

.projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.projects div:first-child {
    font-size: 18px;
}

.projects div:first-child span {
    color: #747474;
    margin-left: 16px;
}

.projects > div:nth-child(2){
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects > div:nth-child(2) img{
    margin-bottom: 15px;
}

/* skills */

.skills {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skills > div {
    
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills > div > div {
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    padding: 14px 20px;
}

.skills > div > div > div {
    display: flex;
    justify-content: space-between;
    
}

.skills > div > div > div > span {
    color: #0275B1
}

/* experience */

.experience{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.experience > div{
    display: grid;
    grid-template-columns: 54px auto;
    gap: 16px;
}

.experience > div:first-of-type {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 25px;
}

.experience > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience > div > div > div > div {
    display: flex;
    gap: 10px
}

.experience > div > div > div > div:last-child > small:last-child {
    color: var(--blue);
}

/* education */

.education {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.education > div {
    display: grid;
    grid-template-columns: 54px auto;
    gap: 16px;
}

.education > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px
}

/* Aside */
aside > section {
    background-color: white;
    padding: 25px 30px;
    margin-bottom: 20px;
}

aside > section > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-grey);
}

/* Dashboard */
.dashboard > div:last-child > div:not(:last-child) {
    margin-bottom: 20px;
}

.dashboard > div:last-child > div > span {
    font-size: 52px;
    color: var(--blue);
}


/* Visitors */
.visitors > div:last-child > div:not(:last-child){
    margin-bottom: 15px;
}

.visitors > div:last-child > div {
    display: flex;
    gap: 15px;
}


/* Segunda tela */

.new-post {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
}

.new-post h3 {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 20px;
    text-transform: uppercase; 
}

.new-post form {
    display: flex;
    align-items: center;
}

.new-post form input {
    border: none;
    padding: 29px 0  30px;
    width: 100%;
}

.new-post form input::placeholder {
    color: #CECECE;
    font-size: 18px;
}

.new-post form input:focus {
    outline: none;
}

.new-post > form > div {
    align-items: center;
    display: flex;
    gap: 28px;
    justify-content: center;
}

.new-post > form > div > img{
    cursor: pointer;
}

/* Separador */

.feed > section > div:nth-child(2) {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}

.feed > section > div:nth-child(2)::after,
.feed > section > div:nth-child(2)::before{
    content: '';
    flex: 1;
    border-bottom: 1px solid #E7E7E7;
}

.feed > section > div:nth-child(2)::before{
    border-right: 1px;
}

.feed > section > div:nth-child(2)::after{
    margin-left: 1px;
}
.feed > section > div span {
    padding-right: 5px;
    color: var(--blue);
    cursor: pointer;
}

.feed > section > div > img {
    cursor: pointer;
}

/* Post */


.post > div {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    padding-top: 15px;
    margin-bottom: 30px;
}

.post > div > div:first-child{
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px ;
}

.post > div > div:first-child span {
    color: var(--blue);
    cursor: pointer;
}

.post >  div > div:first-child img {
    cursor: pointer;
}

.post > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 15px;
    margin-top: 15px;
}

.post > div > div:nth-child(2) > div:first-of-type {
    cursor: pointer;
    display: flex;
    gap: 15px;
    width: 100%;
} 

.post > div > div:nth-child(2) > div:first-of-type img {
    height: 52px;
    width: 52px;
}

.post > div > div:nth-child(2) > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start  ;
}

.post > div:first-child > div:nth-child(2) > p {
    background-clip: text;
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 14px;
    text-align: left;
}

.post > div > div:nth-child(2) > a{
    text-align: left ;
    width: 100%;
}

.post > div > div:nth-child(3) {
    align-items: center;
    border-top: 1px solid #F4F4F4;
    display: flex;
    height: 49px;  
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}   


.post > div > div:nth-child(3) > div {
    display: flex;
    gap: 20px;
    height: auto;
} 

.post > div > div:nth-child(3) p {
    align-items: center;
    display: flex;
}

.post > div > div:nth-child(3) > div > p:first-child {
    margin-right: 10px
}

.post > div > div:nth-child(3) > div > p:last-child {
    border-right: 1px solid var(--light-grey);
    border-left:  1px solid var(--light-grey);
    padding: 15px 30px 15px 20px;
}

.post > div > div:nth-child(3) > div > p:first-child::before{
    content: ''; 
    cursor: pointer;
    display: inline-block;
    background: center url(./images/like.png) no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
    padding-right: 8px; 
    margin-left: 8px;
}

.post > div:nth-child(2) > div:nth-child(3) > div > p:first-child::before,
.post > div:nth-child(3) > div:nth-child(3) > div > p:first-child::before {
    background: center url(./images/likeBlue.png) no-repeat;
}

.post > div > div:nth-child(3) > div > p:last-child::before {
    content: '';
    cursor: pointer;
    background: center url(./images/comment.png) no-repeat;
    background-size: 16px;
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    padding-right: 8px;
    width: 16px;
}

.post > div:nth-child(3) > div:nth-child(3) > div > p:last-child::before {
    background: center url(./images/commentBlue.png) no-repeat;
}


.post > div > div:nth-child(3) > p:last-of-type:before {
    content: '';
    cursor: pointer;
    display: inline-block;
    background: center url(./images/share.png) no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
    padding-right: 8px;
    margin-left: 8px;
}

.post > div > div:nth-child(3) > p {
    border-left:  1px solid var(--light-grey);
    padding: 15px 0 15px 20px;
}
.post > div > div:nth-child(3) > p:last-of-type {
    cursor: pointer;
}

.post > div:nth-child(3) > div:nth-child(2) > div:not(:first-child) > div{
    align-items: center;
    background: #E9F0F8;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
}

.post > div:nth-child(3) > div:nth-child(2) > div:not(:first-child) > div > div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.post > div:nth-child(3) > div:nth-child(2) > div:not(:first-child) > div > img {
    cursor: pointer;
}