@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-grey: #F4F4F4;
    --grey: #E5E5E5;
    --blue: #0275B1;
    --blue-gradient: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
}

html {
    overflow-x: hidden; 
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-grey);
}

ul{
    list-style: none;
}

a{
    color: #0275B1;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
}

h1, h2, h3, p, small{
    color: #181818;
}

h1 {
    font-size: 18px;
    font-weight: bolder;
}

h2 {
    font-size: 14px;
    line-height: 21px;
}

h3 {
    font-size: 12px;  
}

p {
    font-size: 14px;
    line-height: 150%;
}

small {
    font-size: 10px;
    line-height: 15px;
}

input::placeholder {
    color: #CECECE;
}

input:focus {
    outline: none;
}

.green {
   color: #02B033;
}

.container {
    display: grid;
    grid-template-columns: 850px 290px;
    gap: 40px;
    margin: 40px auto;
    max-width: 1200px;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 0 16px;
    height: 32px;
    width: 170px;
    border: none;
    border-radius: 4px;
}
 
.btn-blue {
    background: var(--blue-gradient);
    color: white;
}

.btn-white {
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.here{
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
}

/* Header */
header {
    background-color: white;
}

header > .container {
    max-width: 1400px;
    margin: 0 auto;
    /* header flex */
    display: flex;
    justify-content: flex-start;
    gap: 0;
    font-weight: bold;
}

header > .container > * {
    display: flex;
    align-items: center;
    height: 80px;
    border-right: 1px solid var(--light-grey);
}

header > .container > *:first-child {
    padding: 0 40px;
    width: fit-content;
}

header ul{
    display: flex;
    padding: 0 20px;
}

header > .container > nav > ul > li > a, 
header > .container > *:last-child {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90px;
    height: 80px;
}

header > .container > nav > ul > li:nth-child(4) > a > span::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: center url(./images/oneMessage.png);
    margin-top: -40px;
    margin-left: -14px;
    height: 16px;
    width: 16px;
}

header > .container > *:nth-child(2) img {
    width: 24px;
    height: 24px;
}

header  > .container > *:nth-child(3) {
    display: flex;
    align-items: center;
    height: 80px;
    width: 367px;
}

header  > .container > *:nth-child(3) input {
    border: none;
    padding-left: 70px;
    width: 100%;
    height: 80px;
}

header > .container > *:nth-child(3) input::placeholder {
    font-size: 16px;
}

header > .container > *:nth-child(3) img {
    position: absolute;
    margin: 0 25px 0 33px;
}

header  > .container > *:nth-child(4) {
    color: #181818;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 30px;
    width: 330px;
}

header > .container > *:nth-child(4) > img {
    width: 42px;
    height: 42px;
}

header > .container > *:nth-child(4) > div {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

header > .container > *:nth-child(4) > div > h3:first-child:after {
    content: 'YOU';
    color: #18181833;
    margin-left: 10px;
}

header > .container > *:nth-child(4) > div > h3:last-child {
    text-transform: none;
    color: #747474;
}

header > .container > *:nth-child(4) > div > h3:last-child > span{
    color: #02B033;
    margin-left: 4px;
}

/* Footer */

footer {
    background: #F7F9FB;
    display: flex;
    justify-content: space-between;
    gap: 65px;
    height: 100%;
    padding: 35px 130px;
    width: 100%;
}

footer div:first-child p{
    color: #181818;
    font-size: 14px;
    margin-top: 12px;
    line-height: 150%;
    font-weight: bold;
}

footer div:first-child span {
    color: #0275B1;
}

footer div:nth-child(2) span {
    color: #181818;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 11px;
}

footer div:nth-child(2) nav {
    display: flex;
    gap: 70px;
}

footer div:nth-child(2) nav ul{
    color: #181818;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
    line-height: 11px;
    margin-top: 30px;
}

footer div:last-of-type {
    display: flex;
    flex-direction: column;
}

footer div:last-of-type span, footer form label{
    color: #181818;
    font-size: 12px;
    font-weight: bold;
    line-height: 11px;
    margin-bottom: 25px;
}

footer .btn {
    text-align: left;
    font-weight: bold;
}

footer div:last-of-type div:first-of-type button:first-of-type {
    background: #0275B1;
    color: white;
    margin-bottom: 10px;
}

footer div:last-of-type div {
    display: flex;
    flex-direction: row;
}

footer div:last-of-type div img {
    cursor: pointer;
    height: 16px;
    margin: 8px 0 8px -30px;
    width: 16px;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form select {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    color: #181818;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 11px;
    padding-left: 15px;
    padding-right: 18px;
    width: 270px;
}

footer form select:focus {
    border: 1px solid #0275B1;
    outline: none;
}

/* Profile */
.profile > div:nth-child(2), .about > div:last-child, .projects, .skills, .experience, .education {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    padding: 30px;
    margin-bottom: 30px;
}

.profile > div:first-child{
    align-items: flex-start;
    background: url(./images/backgroundProfile.png);
    display: flex;
    height: 180px;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
}

.profile > div:first-child > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile > div:first-child  button {
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    padding: 12px;
    width: 36px;
}

.profile > div:first-child > div:last-child > button:first-child{
    width: 132px;
}

.profile > div:first-child > div:last-child > button:first-child img  {
    height: 16px;
    margin-right: 10px;
    width: 16px;
}

.profile > div:nth-child(2) {
    display: flex;
    gap: 24px;
    padding: 24px;
}

.profile > div:nth-child(2) img{
    height: 170px;
    width: 170px;
    margin-top: -44px;
}

.profile > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.profile > div:nth-child(2) > div > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile > div:nth-child(2) > div > div:first-child > h1::after{
    content: '';
    display: inline-block;
    background: center url(./images/logoGolden.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-left: 8px;
}

.profile > div:nth-child(2) > div > div:first-child > span {
    display: flex;
    align-items: center;
}

.profile > div:nth-child(2) > div > div:first-child > span::before {
    content: '';
    display: inline-block;
    background: center url(./images/location.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.profile > div:nth-child(2) > div > div:last-child {
    display: flex;
    gap: 15px;
}

/* About */
.about > div:first-child {
    display: flex;
    align-items: flex-end;
}

.about > div:first-child > .btn {
    background: white;
    border: 1px solid #E7E7E7;
    height: 40px;
    width: 240px;
}

.about > div:first-child > .btn:hover {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: white;
    height: 50px;
    margin-top: -10px;
}

.about div:last-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

/* projects */
.projects > *:not(:last-child) {
    margin-bottom: 24px;
}

.projects > h1::after {
    content: '3 of 12';
    color: #747474;
    margin-left: 16px;
}

.projects > div:nth-child(2){
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects > div:nth-child(2) img{
    margin-bottom: 15px;
    width: 100%;
}

/* skills */
.skills > *:not(:last-child) {
    margin-bottom: 24px;
}

.skills > div:nth-child(2) {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills > div:nth-child(2) > div {
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    padding: 14px 20px;
}

.skills > div:nth-child(2) > div > div {
    display: flex;
    justify-content: space-between;
    
}

.skills > div > div > div > span {
    color: #0275B1
}

/* experience */
.experience > *:not(:last-child) {
    margin-bottom: 24px;
}

.experience > div {
    display: grid;
    grid-template-columns: 54px auto;
    gap: 16px;
}

.experience > div:not(:last-child) {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 25px;
}

.experience > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience > div > div > div > div {
    display: flex;
    gap: 10px
}

.experience > div > div > div > div:last-child > small:last-child {
    color: var(--blue);
}

/* education */
.education > *:not(:last-child) {
    margin-bottom: 24px;
}

.education > div {
    display: grid;
    grid-template-columns: 54px auto;
    gap: 16px;
}

.education > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px
}

/* Aside */
aside > section {
    background-color: white;
    padding: 25px 30px;
    margin-bottom: 20px;
}

aside > section > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--light-grey);
    text-transform: uppercase;
}

/* Dashboard */
.dashboard > div:last-child > div:not(:last-child) {
    margin-bottom: 20px;
}

.dashboard > div:last-child > div > span {
    font-size: 52px;
    color: var(--blue);
}

/* Visitors & Groups*/ 
.visitors > div:last-child > a:not(:last-child), .groups > div:last-child > div:not(:last-child) {
    margin-bottom: 15px;
}

.visitors > div:last-child > a , .groups > div:last-child > div{
    display: flex;
    gap: 15px;
}

/* Courses & trending articles*/
.courses > div:last-child > div:not(:last-child), .articles > div:last-child > div:not(:last-child) {
    margin-bottom: 15px;
}

.courses > div:last-child > div, .articles > div:last-child > div{
    display: flex;
    gap: 15px;
}

.courses h2, .articles h2{
    line-height: 18px;
}

.courses img, .articles img{
    width: 80px;
    height: 52px;
}

/* Aside Profile */
.profile-aside > div:first-child {
    background: center url(./images/profile-aside.png) no-repeat ;
    background-size: 100%;
    width: 290px;
    height: 120px;
    margin: -25px -30px 0 -30px;
}

.profile-aside > div:last-child img {
    margin-top: -50px;
    height: 100px;
    width: 100px;
}

.profile-aside > div:last-child {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.profile-aside > div:last-child > h2::after {
    content: '';
    display: inline-block;
    background: center url(./images/logoGolden.png);
    background-size: 12px;
    height: 12px;
    width: 12px;
    margin-left: 4px;
}

.see-more {
    display: none;
}

/* New article */
.new-article > .btn {
    width: 100%;
}

/* Hashtag */
.hashtag > div:last-child {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hashtag > div:last-child > a {
    border-radius: 4px;
    background-color: #E9F0F8;
    color: #181818;
    height: 32px;
    padding: 8px 10px;
    text-transform: none;
} 

/* Segunda tela */
.new-post {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
}

.new-post h3 {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 20px;
    text-transform: uppercase; 
}

.new-post form {
    display: flex;
    align-items: center;
}

.new-post form input {
    border: none;
    padding: 29px 0  30px;
    width: 100%;
}

.new-post form input::placeholder {
    font-size: 18px;
}

.new-post > form > div {
    align-items: center;
    display: flex;
    gap: 28px;
    justify-content: center;
}

.new-post > form > div > img{
    cursor: pointer;
}

/* Separador */
.post > div:first-child {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}

.post > div:first-child:after,
.post > div:first-child::before{
    content: '';
    flex: 1;
    border-bottom: 1px solid #E7E7E7;
}

.post > div:first-child::before{
    border-right: 1px;
}

.post > div:first-child::after{
    margin-left: 1px;
}
.post > div:first-child span {
    padding-right: 5px;
    color: var(--blue);
    cursor: pointer;
}

.post > div:first-child > img {
    cursor: pointer;
}

/* Post */
.post > div:not(:first-child) {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    padding-top: 15px;
    margin-bottom: 30px;
}

.post > div > div:first-child{
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px ;
}

.post > div > div:first-child span {
    color: var(--blue);
    cursor: pointer;
}

.post >  div > div:first-child img {
    cursor: pointer;
}

.post > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 15px;
    margin-top: 15px;
}

.post > div > div:nth-child(2) > a {
    cursor: pointer;
    display: flex;
    gap: 15px;
    width: 100%;
} 

.post > div > div:nth-child(2) > a img {
    height: 52px;
    width: 52px;
}

.post > div > div:nth-child(2) > a > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start  ;
    justify-content: center;
}

.post > div:nth-child(2) > div:nth-child(2) > p {
    background-clip: text;
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 14px;
    text-align: left;
}

.post > div > div:nth-child(2) > a{
    text-align: left ;
    width: 100%;
}

.post > div > div:nth-child(3) {
    align-items: center;
    border-top: 1px solid #F4F4F4;
    display: flex;
    height: 49px;  
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}   

.post > div > div:nth-child(3) > div {
    display: flex;
    gap: 20px;
    height: auto;
} 

.post > div > div:nth-child(3) h3 {
    align-items: center;
    display: flex;
}

.post > div > div:nth-child(3) > div > h3:first-child {
    margin-right: 10px
}

.post > div > div:nth-child(3) > div > h3:last-child {
    border-right: 1px solid var(--light-grey);
    border-left:  1px solid var(--light-grey);
    padding: 15px 30px 15px 20px;
}

.post > div > div:nth-child(3) > div > h3:first-child::before{
    content: ''; 
    cursor: pointer;
    display: inline-block;
    background: center url(./images/like.png) no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
    padding-right: 8px; 
    margin-left: 8px;
}

.post > div:nth-child(3) > div:nth-child(3) > div > h3:first-child::before,
.post > div:nth-child(4) > div:nth-child(3) > div > h3:first-child::before {
    background: center url(./images/likeBlue.png) no-repeat;
}

.post > div:not(:first-child) > div:nth-child(3) > div > h3:last-child::before {
    content: '';
    cursor: pointer;
    background: center url(./images/comment.png) no-repeat;
    background-size: 16px;
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    padding-right: 8px;
    width: 16px;
}

.post > div:nth-child(4) > div:nth-child(3) > div > h3:last-child::before {
    background: center url(./images/commentBlue.png) no-repeat;
}

.post > div:not(:first-child) > div:nth-child(3) > h3:last-of-type:before {
    content: '';
    cursor: pointer;
    display: inline-block;
    background: center url(./images/share.png) no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
    padding-right: 8px;
    margin-left: 8px;
}

.post > div:not(:first-child) > div:nth-child(3) > h3 {
    border-left:  1px solid var(--light-grey);
    padding: 15px 0 15px 20px;
    text-transform: uppercase;
}

.post > div:not(:first-child) > div:nth-child(3) > h3:last-of-type {
    cursor: pointer;
}

.post > div:nth-child(4) > div:nth-child(2) > div:not(:first-child) > div{
    align-items: center;
    background: #E9F0F8;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
}

.post > div:nth-child(4) > div:nth-child(2) > div:not(:first-child) > div > div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.post > div:nth-child(4) > div:nth-child(2) > div:not(:first-child) > div > img {
    cursor: pointer;
}